:root {
  --black: #000000;
  --green: #00ff0d;
  --gray: #ffffff77;
  --red: #ff0000;
  --cyan: #00ffff;
  --yellow: #ffff00;
  --purple: #b106ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--black);
}
.span_1 {
  color: var(--green);
  text-shadow: 0 0 2px var(--green), 0 0 10px var(--green);
}
.span_2 {
  opacity: 0.5;
}
.span_3 {
  color: var(--red);
  text-shadow: 0 0 2px var(--red), 0 0 10px var(--red);
}
.up_1 {
  animation: up_1 0.3s linear forwards;
}
@keyframes up_1 {
  0% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(0, -45px) scale(1);
    opacity: 0.3;
  }
}
.bar {
  width: 300px;
  height: 15px;
  transform: translate(0, 55px);
  border: solid var(--gray) 3px;
  border-radius: 25px;
}
.bar span {
  width: 100%;
  height: 100%;
  background-color: aqua;
  border-radius: 25px;
  transition: all 0.5s;
  box-shadow: 0 0 2px var(--cyan), 0 0 10px var(--cyan);
}

.con {
  margin-top: 150px;
}
.preTextOutput {
  transform: translate(0, 45px);
  /* opacity: 0.3; */
}
.downText {
  animation: fadeIn 0.3s linear forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
.up_2 {
  animation: up_2 0.3s linear forwards;
}
@keyframes up_2 {
  0% {
    transform: translate(0, 0px) scale(1);
    opacity: 0.3;
  }
  100% {
    transform: translate(0, -45px) scale(1);
    opacity: 0.5;
  }
}
.wpmMainMeter,
.cpmMainMeter,
.timeCon,
.accuracyCon {
  transform: translate(56px, 0px);
  color: var(--yellow);
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 0 2px var(--yellow), 0 0 10px var(--yellow);
}
.timeCon,
.accuracyCon {
  transform: translate(0, 0);
}
.wpmMainMeter span,
.cpmMainMeter span,
.time_Con span,
.accuracy_Con span {
  animation: testEffect 0.5s ease forwards;
}
@keyframes testEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.wpmCon,
.cpmCon,
.timeText,
.accuracyText {
  transform: translate(56px, 30px);
  color: var(--purple);
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0 0 2px var(--purple), 0 0 10px var(--purple);
}
.timeText,
.accuracyText {
  transform: translate(0, 0);
}
.wpmMeter h1 {
  color: var(--cyan);
  font-weight: bold;
  text-shadow: 0 0 2px var(--cyan), 0 0 10px var(--cyan);
}
.wpmMeter h1:nth-child(1) {
  transform: translate(5px, 142px);
}
.wpmMeter h1:nth-child(2) {
  transform: translate(8px, 110px);
}
.wpmMeter h1:nth-child(3) {
  transform: translate(33px, 80px);
}
.wpmMeter h1:nth-child(4) {
  transform: translate(70px, 70px);
}
.wpmMeter h1:nth-child(5) {
  transform: translate(110px, 80px);
}
.wpmMeter h1:nth-child(6) {
  transform: translate(133px, 110px);
}
.wpmMeter h1:nth-child(7) {
  transform: translate(142px, 142px);
}

.wpmMeterHand,
.cpmMeterHand {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 60px solid var(--red);
  transform: translate(77px, 95px) rotate(-90deg);
  transform-origin: bottom;
  transition: all 0.5s ease-in;
}
.wpmMeterHand::after,
.cpmMeterHand::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 60px solid var(--red);
  filter: blur(2px);
}
.wpmMeterHand::before,
.cpmMeterHand::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 60px solid var(--red);
  filter: blur(2px);
}
.wpmMeterHandBase {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 100%;
  transform: translate(75px, 150px);
}
.wpmMeterHandBase::before {
  content: "";
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  filter: blur(2px);
}
.wpmMeterHandBase::after {
  content: "";
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  filter: blur(2px);
}
